table {
    border-collapse: collapse;
    width: 75%;
    font-family: 'Raleway', sans-serif;
    margin-right: 12.5%;
    margin-left: 12.5%;


  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  td{
      color: white;
  }
  th{
      color: #3D3D3D;
  }
  
  tr:nth-child(even){background-color: #3D3D3D}
  tr:nth-child(odd){background-color: #3D3D3D}
  
  th {
    background-color: #36F1CD;
