


{% extends "nav.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/css/forms.css">
     
<title>VR EDUCATUM</title>

<div id="form-container" style="height: 50vh;">

    <div id="form-header">
        <p>Enrol in a game</p>
    </div>

    <form action="" method="post" novalidate>
        {{form.hidden_tag() }}


        <p id="form-sub-header">           
                Students name
        </p>
        
        {{form.studentname(size=32)}}

        <p>
            {% for error in form.studentname.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>

        <p id="form-sub-header">           
            Sudents passcode (e.g. 4 digit number)
        </p>

        
        {{form.studentcode(size=32)}}
        <p>
            {% for error in form.studentcode.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>

        <p id="form-sub-header">           
            Class code (provided by teacher) for game to enrol in.
        </p>

        {{form.classcode(size=32)}}
        <p>
            {% for error in form.classcode.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit(class_="form-submit")}}</p>

        {% endblock%}
    </form>
</div>