<html>
    <head>
        <title>VR EDUCATUM</title>

    </head>


    <body>
        <h1>Welcome to VR EDUCATUM, ENROL BELOW</h1>
    </body>


    {% block content %}


    <h1>Enrol</h1>
    <form action="" method="post" novalidate>
        {{form.hidden_tag() }}
        <p>
            {{ form.studentname.label }}<br>
            {{form.studentname(size=32)}}<br>
            {% for error in form.studentname.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>

        <p>
            {{form.studentcode.label}}<br>
            {{form.studentcode(size=32)}}<br>
            {% for error in studentcode.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>

        <p>
            {{form.classid.label}}<br>
            {{form.classid(size=32)}}<br>
            {% for error in classid.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>




        <p>{{form.remember_me()}} {{ form.remember_me.label }}</p>
        <p>{{ form.submit()}}</p>


    </form>