<html>
    
    
    
    
    
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/base.css">
        
        <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap" rel="stylesheet">
        <title>VR EDUCATUM</title>
   

    
        
    
    </head>
    
    
    
    
    
    <body>
    
        {% extends "nav.html" %}
        


        
        
    </body>




</html>