
<title>VR EDUCATUM</title>

<link rel="stylesheet" type="text/css" href="../static/css/forms.css">


{% extends "nav.html" %}

{% block content %}

<div id="login_forum">


    <div id="form-container" style="height: 50vh">

        <div id="form-header">
            <p>Login</p>
        </div>


        


        

        <form action="" method="post" novalidate>

            {{form.hidden_tag() }}
            <p id="form-sub-header">
                Username
            </p>
            
            {{form.username_or_email(size=32)}}

            <p>
                {% for error in form.username_or_email.errors %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </p>


            <p id="form-sub-header">
                    Password
            </p>
                    
            {{form.password(size=32)}}


            <p>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </p>
                    
            <p id="form-sub-header">{{form.remember_me()}} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(class_="form-submit")}}</p>
                    
                    
        </form>

    </div>
    
        
</div>

{% endblock %}