
{% extends "nav.html" %}

{% block content %}

<title>VR EDUCATUM</title>
<link rel="stylesheet" type="text/css" href="../static/css/forms.css">


<div id="form-container" style="height: 55vh;">

        <div id="form-header">

            <p>Signup</p>
        
        
        </div>


        





    <form action="" method="post" novalidate>


        <p id="form-sub-header">           
            Username
        </p>
        
        {{form.username(size=32)}}
            
        <p>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>


        <p id="form-sub-header">           
            Password
        </p>

        
        {{form.password(size=32)}}
        <p>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>


        <p id="form-sub-header">           
            Email
        </p>

        
        {{form.email(size=32)}}
            
        <p>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
                
        </p>

        <p id="form-sub-header">{{form.remember_me()}} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class_="form-submit")}}</p>


    </form>
</div>







{% endblock %}


