{% extends "nav.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/css/tables.css">
<link rel="stylesheet" type="text/css" href="../static/css/forms.css">
<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap" rel="stylesheet">

<title>Welcome, {{ user.username }}</title>
<!--<h1>Hello {{ user.username }}</h1>-->


<div id="form-container">


    <div id="form-header">

        <p>Create a Class</p>


    </div>

    <p id="form-sub-header">           
        Class Code (to be entered by students)
    </p>


    <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
                    
            

            {{ form.class_code(size=32)}}
               
            <p>{{form.submit(class_="form-submit")}}</p>
                    
    </form>


</div>

<br>

        
<table>
    <tbody>

        <tr>
            <th>Class Code</th>

            <th>Class ID</th>

            <th>Data</th>


        </tr>

        {% for item in classes %}
        <tr>
            <td style="padding:0; margin:0">
                
                <div style="border: 1px solid white; height: 100%; box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;">

                    {{item.classcode}}

                </div>
                
            
            
            </td>
            <td style="padding:0; margin:0">
                

                <div style="border: 1px solid white; height: 100%; margin:0; padding:0; box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;">

                    {{item.classid}}
    
                </div>
                
                
            
            
            </td>
            <td style="padding:0; margin:0">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
                <script>
                    console.log("test")
                    //Student data, taken from flask.
                    var studentData = [{"score": 120, "studentid": 38, "arealeast": "multiplication", "improvementrate": 25, "studentname": "george", "areamost": "fractions", "gameid": 1}, {"score": 100, "studentid": 39, "arealeast": "subtraction", "improvementrate": 35, "studentname": "Mason", "areamost": "fractions", "gameid": 1}, {"score": 98, "studentid": 40, "arealeast": "fractions", "improvementrate": 11, "studentname": "benry", "areamost": "multiplication", "gameid": 1}]

                    // Gets a specific piece of student data from the python dictionary parsed to JSON
                    // takes the property string as a parameter, returns all student data pieces of this property
                    // e.g. if "score" is supplied the scores of all students under the parsed data will be returned in a list.
                    function getSpecificDataPiece(stringProperty){
                    
                    var listToReturn = []
                    for (i = 0; i < studentData.length; i++) {
                        
                        listToReturn.push(studentData[i][stringProperty])
                    }
                    
                    return listToReturn
                    
                    }



                    var studentScoresCTX = document.getElementById("studentScores").getContext('2d');
                    var studentImprovementRatesCTX = document.getElementById("studentImprovementRates").getContext('2d');
                
                    // Chart.js function, properties as labelled. Used to show the studentScores.
                    var studentScores = new Chart(studentScoresCTX, {
                        type: 'bar',
                        data: {
                            labels: getSpecificDataPiece("studentname") ,
                            datasets: [{
                                label: 'Student Scores',
                                data: getSpecificDataPiece("score"),
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                        scales:{yAxes:[{ticks:{beginAtZero:true}}]},
                        responsive: false
                        
                            }
                    });

                    // Chart.js function, properties as labelled. Used to show the student improvement rates.
                    var studentImprovementRates = new Chart(studentImprovementRatesCTX, {
                        type: 'bar',
                        data: {
                            labels: getSpecificDataPiece("studentname") ,
                            datasets: [{
                                label: 'Student Improvement Rates',
                                data: getSpecificDataPiece("improvementrate"),
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                        scales:{yAxes:[{ticks:{beginAtZero:true}}]},
                        responsive: false
                        
                            }
                    });
                                    
                
                
                
                
                
                
                </script>

                <div style="border: 1px solid white; height: 100%; width: 100%; padding:0; margin:0;box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;">
                    
                    <canvas style="padding:0; margin:0;" id="studentScores" width="400" height="500"></canvas>
                    <canvas style="padding:0; margin:0;" id="studentImprovementRates" width="400" height="500"></canvas>
                
                
                </div>
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        

{% endblock %}











