{% extends "nav.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/css/tables.css">
<link rel="stylesheet" type="text/css" href="../static/css/forms.css">
<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap" rel="stylesheet">

<title>Welcome, {{ user.username }}</title>
<!--<h1>Hello {{ user.username }}</h1>-->


<div id="form-container">


    <div id="form-header">

        <p>Create a Class</p>


    </div>

    <p id="form-sub-header">           
        Class Code (to be entered by students)
    </p>


    <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
                    
            

            {{ form.class_code(size=32)}}
               
            <p>{{form.submit(class_="form-submit")}}</p>
                    
    </form>


</div>

<br>

        
<table>
    <tbody>

        <tr>
            <th>Class Code</th>

            <th>Class ID</th>


        </tr>

        {% for item in classes %}
        <tr>
            <td style="padding:0; margin:0">{{item.classcode}}</td>
            <td style="padding:0; margin:0">{{item.classid}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        
        

<!--





    

{% for i in studentdicts %}
<tr>
        
    <td><h1>{{i.class}}</h1></td>
    {% for o in i["students"] %}
        
        <td>{{o.studentname}}</td>
            
    {% endfor %}
            
        
</tr>
{% endfor %}

-->
        
        
{% for i in studentdatadicts %}
<tr>
        
    <td><h1>{{i.score}}</h1></td>
            
            
        
</tr>
{% endfor %}

{% endblock %}











